.userListItem {
	border-bottom: 1px solid var(--color-tertiary);
	padding-bottom: 0.5rem;

	&:not(:last-of-type) {
		margin-bottom: 1rem;
	}

	a {
		color: var(--color-white);
		display: flex;
		flex-direction: column;
	}

	strong {
		margin-bottom: 0.3rem;
	}
}
