.userListItem {
	&:not(:last-of-type) {
		border-bottom: 1px solid var(--color-tertiary);
		margin-bottom: 1rem;
	}

	a {
		color: var(--color-white);
		display: flex;
		flex-direction: column;
	}

	strong {
		margin-bottom: 0.3rem;
	}
}
