.noPosts {
	min-height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	h1 {
		color: var(--color-tertiary);
	}

	img {
		width: 100%;
	}
}
