.register {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(
		to right,
		var(--color-secondary),
		var(--color-primary-dark)
	);
}
