.loginForm {
	background-color: var(--color-white);
	padding: 3rem;
	border-radius: var(--border-radius-1);
	width: 50%;

	@media only screen and (max-width: 900px) {
		width: 60%;
	}

	@media only screen and (max-width: 700px) {
		width: 70%;
	}

	@media only screen and (max-width: 500px) {
		width: 90%;
	}
}

.input {
	margin-bottom: 1rem;
}

.input label {
	color: var(--color-primary);
}

.register {
	text-align: center;
	color: var(--color-primary);
	font-size: 0.8rem;
	margin-bottom: 1.5rem;
}

.register a:visited {
	color: var(--color-secondary-light-1);
}

.register a:hover {
	text-decoration: underline;
}

.buttons {
	text-align: center;
}

.button {
	border: none;
	padding: 0.5rem 0.7rem;
	border-radius: var(--border-radius-1);
	background-color: var(--color-primary);
	color: var(--color-white);
}
