.floatingCard {
	width: 40%;
	max-height: 100vh;
	margin: auto;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -60rem);
	z-index: 100;
	background-color: var(--color-secondary-light-1);
	transition: all 0.3s ease-out;
	display: block;
}

.center {
	transform: translate(-50%, -50%);
}
