@font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('./Quicksand/Quicksand-Regular.ttf');
}
@font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('./Quicksand/Quicksand-Bold.ttf');
}
@font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url('./Quicksand/Quicksand-Light.ttf');
}
@font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('./Quicksand/Quicksand-Medium.ttf');
}
