.post {
	width: 100%;
	margin: 0 1rem 1rem;
	background-color: var(--color-primary);
	position: relative;

	@media only screen and (max-width: 550px) {
		margin: 0 0 1rem;
	}

	.heading {
		// padding: 0 0.5rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 0 1rem;
		font-size: 1.1rem;

		h2 {
			margin: 0;
		}

		a {
			color: var(--color-white);
			transition: all 0.2s ease-out;
			display: inline-block;

			&:hover {
				transform: translateX(0.5rem);

				@media only screen and (hover: none) {
					transform: none;
				}
			}
		}

		.price {
			font-weight: bold;
			padding: 0 0.5rem;
			color: var(--color-secondary);
			// color: var(--color-white);

			p {
				display: inline-block;
				margin: 0.5rem 0;
				padding: 0.2rem 0.4rem;
				border-radius: var(--border-radius-1);
				background-color: var(--color-white);
			}
		}
	}

	.image {
		background-color: none;
		border-radius: var(--border-radius-1);
		box-shadow: var(--box-shadow);
		margin-bottom: 1.5rem;
		transition: all 0.2s ease-out;
		max-height: 25rem;
		overflow: hidden;

		&:hover {
			transform: scale(1.01);

			@media only screen and (hover: none) {
				transform: none;
			}
		}

		&:active {
			transform: scale(1);
			box-shadow: none;
		}

		img {
			width: 100%;
			display: block;
		}
	}

	.description {
		color: var(--color-white);
		padding: 0 0.5rem;

		a {
			display: inline-block;
			transition: all 0.2s ease-out;
			color: var(--color-secondary-light-1);
			font-weight: bold;

			&:hover {
				transform: rotate(5deg) scale(1.05);

				@media only screen and (hover: none) {
					transform: none;
				}
			}

			&:active {
				transform: rotate(0) scale(1);
			}
		}
	}

	.date {
		font-size: 0.7rem;
	}

	.buttons {
		padding: 0 0.5rem;
	}

	.editOptions {
		position: absolute;
		bottom: 1rem;
		right: 1rem;
		color: var(--color-white);
		cursor: pointer;
		font-size: 1.5rem;

		.editButtons {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			height: 7rem;
			background-color: #fff;
			position: absolute;
			bottom: 2.5rem;
			right: 0.8rem;
			transform: scale(0);
			transform-origin: bottom right;
			transition: all 0.2s ease-out;

			&.show {
				transform: scale(1);
			}

			button {
				width: 100%;
			}
		}
	}
}
