.input {
	display: flex;
	flex-direction: column;
	position: relative;

	&:not(:last-of-type) {
		margin-bottom: 1.5rem;
	}

	input {
		border: 1px solid transparent;
		outline: none;
		border-radius: var(--border-radius-1);
		padding: 0.4rem;
		background-color: #eee;
	}

	input:focus {
		border: 1px solid var(--color-primary);
	}

	label {
		margin-bottom: 0.5rem;
	}

	.invalidMessage {
		position: absolute;
		bottom: -1.2rem;
	}

	.fileInput {
		display: none;
	}

	.fileInputLabel {
		cursor: pointer;
		text-align: center;
		background-color: var(--color-secondary);
		padding: 0.4rem 0.6rem;
		border-radius: var(--border-radius-1);
		width: 50%;
		margin: 0 auto;
	}
}
