.landing {
	display: flex;
	align-items: center;
	height: 100vh;
	background: linear-gradient(
		to bottom right,
		var(--color-white),
		var(--color-secondary-light-1)
	);
}

.text {
	width: 50%;
	padding: 0 2rem;
	color: var(--color-secondary);
}

.text h1 {
	font-size: 4rem;
	margin: 0 0 2rem 0;
}

.text p {
	margin-bottom: 2rem;
}

.image {
	width: 50%;
	display: flex;
	align-items: center;
}

.landing img {
	width: 100%;
}

.buttons {
	display: flex;
	justify-content: flex-start;
}

.link {
	border: none;
	padding: 0.7rem 1rem;
	border-radius: 0.7rem;
	font-size: 1rem;
	background-color: var(--color-primary-dark);
	color: var(--color-white);
}

.link:not(:last-of-type) {
	margin-right: 2rem;
}
