.landing {
	display: flex;
	align-items: center;
	height: 100vh;
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url('/img/art_collage.jpg');
	.text {
		width: 50rem;
		max-width: 90%;
		margin: auto;
		text-align: center;

		h1 {
			color: var(--color-yellow);
			font-size: 4rem;
			margin: 0;
			text-shadow: 0.5rem 0.8rem 1rem rgba(0, 0, 0, 0.6);
		}

		p {
			color: var(--color-white);
			font-weight: bold;
			font-size: 1.5rem;
		}

		.buttons {
			width: 50%;
			margin: auto;
			display: flex;
			justify-content: space-around;
		}
	}
}
