.cart {
	width: 70rem;
	max-width: 100%;
	margin: auto;

	.checkoutButton {
		width: 90%;
		margin: 0 auto;

		button {
			font-size: 2rem;
			font-weight: bold;
			text-transform: uppercase;
		}
	}

	.note {
		width: 90%;
		text-align: center;
		font-style: italic;
		background-color: var(--color-tertiary);
		color: gray;
		margin: 1rem auto;
	}
}
