@import url('../fonts/quicksand.scss');
@import url('../fonts/raleway.scss');

*,
*::after,
*::before {
	box-sizing: border-box;
	font-family: inherit;
	letter-spacing: 0.08rem;
}

:root {
	--color-black: #141414;
	--color-white: #f3f3f3;
	--color-light-blue: #88ccf1;
	--color-very-light-blue: #c1dff0;
	--color-blue: #3587a4;
	--color-turquoise: #2d898b;
	--color-dark-turquoise: #2d848a;
	--color-beige: #fff2e1;

	--border-radius: 0.3rem;
}

html {
}

body {
	margin: 0;
	min-height: 100vh;
	font-family: 'Quicksand';
}

::selection {
	background-color: var(--color-turquoise);
	color: var(--color-white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Raleway';
}

button {
	cursor: pointer;
	outline: none;
}

a {
	text-decoration: none;
}
