.searchUser {
	background-color: var(--color-secondary);
	border-radius: var(--border-radius-1);
	box-shadow: var(--box-shadow-1);
	width: 100%;
	max-width: 500px;
	margin: 0 auto 1rem;
	text-align: center;
	padding: 1rem;
	position: relative;

	input {
		width: 100%;
		border: 1px solid transparent;
		outline: none;
		border-radius: var(--border-radius-1);
		padding: 0.4rem;
		background-color: #eee;
		transition: all 0.2s ease-out;
	}

	input:focus {
		border: 1px solid var(--color-primary-dark);
	}

	.userList {
		width: 100%;
		position: absolute;
		left: 0;
		top: 4.5rem;
		background-color: var(--color-secondary);
		z-index: 100;
		display: none;
	}

	.show {
		display: block;
	}
}
